// Colors Palletes:
$orange: #FF6600;
$white: #FFFFFF;
$yellow: #FFCE00;
$red: #DD0000;



// Seconds Circle styles :
$seconds_circle_height: 10rem;
$seconds_circle_width: 10rem;

// Hours Rectangles styles :
$hours_rectangle_height: 2.5rem;
$hours_rectangle_width: 10rem;

// 5 minutes Rectangles styles :
$minutes_5_rectangle_height: 2rem;
$minutes_5_rectangle_width: 7%;

// 1 minute Rectangles styles :
$minutes_1_rectangle_height: 2.5rem;
$minutes_1_rectangle_width: 10rem;